* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at 50% -20.71%, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);


}


.caixa-principal {

    height: 70%;
    width: 35%;
    background-image: radial-gradient(circle at 50% -20.71%, #ff57d2 0, #ff4edb 12.5%, #f046e3 25%, #d63feb 37.5%, #b53cf2 50%, #8c3df9 62.5%, #4f40ff 75%, #0046ff 87.5%, #004bff 100%);
    border: 3px solid black;
    border-radius: 20px;


}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-bottom: 3px solid black;

}

.header h2 {

    text-align: center;

}

.body {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.father {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mother {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.son-1 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.son-1 input {
    width: 40%;
    height: 60%;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
}

.son-2 {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.son-2 input {
    width: 30%;
    height: 40%;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
}

.father-1 {
    height: 30%;
}

.father-1 .son-1-1 {
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid black;
    padding: 10px;

}

.father-1 .son-1-1 input {
    height: 70%;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.footer {


    height: 20%;
}

.mother-1 {
    height: 50%;

}

.son-2-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa-reposta {

    display: block;
    background-color: white;
    height: 100%;
    width: 80%;
    margin-top: 22%;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
}


